.title{
    font-size: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: oblique;
    font-stretch: expanded;
}


.body{
    background-position:cover ;
}